In [4]:
import sys, os
import numpy as np
import csv
import pandas as pd

In [24]:
data = pd.read_csv('invoice.csv', header=0, index_col=False)

In [26]:
data.head()

      ﻿date city cid       industry platform   number      amount
0  2016/8/1  臺北市   A    不動產經營及相關服務業      無載具    32294   114100607
1  2016/8/1  臺北市   A         不動產開發業      無載具  1530691  2081432419
2  2016/8/1  臺北市   A       人力仲介及供應業      無載具      298      323149
3  2016/8/1  臺北市   A  企業總管理機構及管理顧問業      無載具    57535   121656544
4  2016/8/1  臺北市   A          住宿服務業      無載具    51913   385304092

In [40]:
data = pd.read_csv('68102opendata.csv')

In [41]:
data.head()

,﻿癌症診斷年,性別,縣市別,癌症別,年齡標準化發生率 WHO 2000世界標準人口 (每10萬人口),癌症發生數,平均年齡,年齡中位數,粗率 (每10萬人口)
0,1979,不分男女,台閩地區,口腔、口咽及下咽,3.40,439,53.37,55.0,2.50
1,1979,不分男女,台北市,口腔、口咽及下咽,3.85,65,52.00,55.0,2.96
2,1979,不分男女,台中市,口腔、口咽及下咽,4.16,45,54.18,55.0,2.88
3,1979,不分男女,台南市,口腔、口咽及下咽,1.58,19,55.79,57.0,1.24
4,1979,不分男女,高雄市,口腔、口咽及下咽,2.10,32,48.56,50.0,1.49

In [42]:
data.shape

(74044, 9)

In [43]:
data.癌症發生數

0        439
1         65
2         45
3         19
4         32
5         10
6         10
7          8
8         47
9         21
10         4
11        10
12         3
13        55
14        10
15        15
16        12
17        25
18         2
19         9
20        17
21       364
22        42
23        42
24        17
25        23
26         9
27         8
28         7
29        43
        ...
74014     10
74015     18
74016      7
74017      7
74018      9
74019     10
74020      4
74021      4
74022      2
74023    226
74024     32
74025     21
74026     14
74027     31
74028      4
74029      7
74030      1
74031     41
74032     14
74033      6
74034      3
74035      2
74036     11
74037      8
74038     10
74039      4
74040      9
74041      1
74042      5
74043      2
Name: 癌症發生數, dtype: int64